<footer>
  <ul>
    <li><a href="/"><img src="/icons/home.svg" alt="Forside" class="footer-icon"></a></li>
    <li><a href="/produkter"><img src="/icons/search.svg" alt="Søg" class="footer-icon"></a></li>
    <li><a href="/kurv"><img src="/icons/shopping-cart.svg" alt="Kurv" class="footer-icon"></a></li>
    <li><a href="/login"><img src="/icons/user.svg" alt="Profil" class="footer-icon"></a></li>
    <li><a href="/login/signup"><img src="/icons/align-justify.svg" alt="Sidebar" class="footer-icon"></a></li>
  </ul>
</footer>