<header>
    <div>
        <div>
            <h1>
                <%= locals.title %>
            </h1>
        </div>
        <ul>
            <nav>
                <li><a href="/">Forside</a></li>
                <li><a href="/produkter">Produkter</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login/signup">Tilmeld</a></li>
                <li><a href="/kurv">Kurv</a></li>
            </nav>
        </ul>
    </div>
</header>