<header>
    <div>
        <ul style="display: flex; padding:0; width: 100%; justify-content: center;">
            <li style="padding:5px"><a href="/">Forside</a></li>
            <li style="padding:5px"><a href="/produkter">Produkter</a></li>
            <li style="padding:5px"><a href="/login">Login</a></li>
            <li style="padding:5px"><a href="/login/signup">Tilmeld</a></li>
            <li style="padding:5px"><a href="/kurv">Kurv</a></li>
        </ul>
    </div>
</header>