<header>
    <div>
        <ul style="display: flex; padding:0; width: 100%; justify-content: center;">
            <li style="padding:5px"><a href="/">Forside</a></li>
            <li style="padding:5px"><a href="/produkter">Produkter</a></li>
            <li style="padding:5px"><a href="/login">Login</a></li>
            <li style="padding:5px"><a href="/login/signup">Tilmeld</a></li>
            <li style="padding:5px"><a href="/kurv">Kurv</a></li>
        </ul>
    </div>
</header>
<script>
    const headerNav = document.getElementById('headerNav');

    function printLoginOrLogout() {
        let isIncluded;
        let cookies = document.cookie;

        if (cookies.includes('user')) {
            const li = document.createElement('li');
            const a = document.createElement('a');

            a.setAttribute('href', '/logud');
            a.innerHTML = 'Logud';

            li.appendChild(a);
            headerNav.appendChild(li);

        } else {
            const li = document.createElement('li');
            const a = document.createElement('a');

            a.setAttribute('href', '/login');
            a.innerHTML = 'Login';

            li.appendChild(a);
            headerNav.appendChild(li);
        }
    }

    printLoginOrLogout();
</script>